#
# Plugin configuration file for Image/J 1.31s or newer
#
# Author:   Brendan Ffrench
# Version:  2.0
# Date:     20170714
# Requires: ImageJ 1.31s or higher

Plugins>CTC5, "Create Digital Slide", ctc5.main.CTC5Analysis("")
# Plugins>CTC5, "test double", ctc5.main.test("")
# Plugins>CTC5, "Draw points", ctc5.debug.DrawPoints("")
# Plugins>CTC5, "Min-Max", ctc5.debug.minmax("")
# Plugins>CTC5, "w0000 Debug", ctc5.debug.w0000_debug("")

